.card__like {
    width: 21px;
    height: 18px;
    background-color: #fff;
    background-image: url(../../../images/like.svg);
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity .6s ease;
}

.card__like:hover {
    opacity: .5;
}