.profile__info {
    display: grid;
    grid-template-columns: max-content min-content;
    grid-column-gap: 18px;
    grid-row-gap: 9px;
    align-items: start;
    line-height: 1.14;
}

@media screen and (max-width: 768px) {
    .profile__info {
        margin: 26px 28px 36px 34px;
        grid-column-gap: 10px;
        grid-row-gap: 6px;
    }
}